{% extends "layout.html" %}

{% block title %}
    Budget Tracker
{% endblock %}

{% block main %}
    <div class="header">
        <h1>Budget</h1>
    </div>
    <div class="col-12">
            <div class="row">
                <div class="col-6">
                    <div class="row">
                        <form id="itemList">
                            {% for cat, amount in budget %}
                                <label for="item_{{ loop.index }}">{{ cat }}</label>
<!--                                <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="{{ cat }}" name="{{ cat }}" type="text">-->
                                <p>Current: <input id="item_{{ loop.index }}" name="{{ cat }}" value="{{ amount }}"> </p> <br/>
                            {% endfor %}
                        </form>
                    </div>
                <div class="row">
                    <form action="/budget" method="POST">
                        <button class="button btn-primary" id="newCat" type="button">+ New Category</button>
                        <button class="button btn-primary" id="submitBudget" type="submit" onclick="updateBudget();">Update Budget</button>
                    </form>
                </div>
            </div>

            <div class="col-6">
                <h2>This is where the pie charts will go.</h2>
            </div>
        </div>


    </div>
<!--        Add ability to add a category to budgeting -->
<!--        Add pictures next to each category-->
<!--        Include current budget allocation next to box-->
<!--        Add pie charts for current budget, proposed budget, and recommended budget (based on lifestyle)-->

    <script type="text/javascript" src="static/js/budget.js"></script>

{% endblock %}
