{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <div class="header">
        <h1>Register for New Account</h1>
    </div>

    <form action="/register" method="post">
        <div class="section">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="username" name="username" placeholder="Username" type="text">
        </div>
        <div class="section">
            <input class="form-control mx-auto w-auto" id="password" name="password" placeholder="Password" type="password">
        </div>
        <div class="section">
            <input class="form-control mx-auto w-auto" id="confirmation" name="confirmation" placeholder="Confirm Password" type="password">
        </div>
        <br>
        <h3>User Financial Information</h3>
        <div class="section">
            <label for="annualIncome">Annual Income: $</label>
            <input class="form-control mx-auto w-auto" id="annualIncome" name="annualIncome" placeholder="e.g. 60000" type="number">
        </div>
        <div class="section">
            <label for="sideIncome">Annual Secondary Income: $</label>
            <input class="form-control mx-auto w-auto" id="sideIncome" name="sideIncome" placeholder="e.g. 10000" type="number">
        </div>
        <br>
        <button class="btn btn-primary" type="submit">Register</button>
    </form>
{% endblock %}
